<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Academy.Listeners"/>
	<listener class-name="resources.ExtentTestNGIReporterListener"/>
</listeners>
  <test name="Home page Test">
    <classes>
     
      <class name="Academy.HomepageTest"/>
     </classes>
     </test> 
      
   <test name="Validating Test">
    <classes>
      <class name="Academy.ValidateTest"/>
    </classes>
   </test> <!-- Test -->

   <test name="Validating Course Test">
    <classes>
      <class name="Academy.ValidateCourseTest"/>
    </classes>
   </test> <!-- Test -->



</suite> <!-- Suite -->
